{{!-- 
<header>
    <h1> {{title}}</h1>
    
    <a href="/">weather</a>
    <a href="/help">help</a>
    <a href="/about">about</a>
</header>
 --}}

<header>
    <h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>